---
import { Image } from "astro:assets";
const { benifits } = Astro.props;
const { title, description, benifit_list } = benifits;
---

<!-- Benefits -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>{title}</h2>
        <p class="mt-4">
          {description}
        </p>
      </div>
    </div>
    <div class="row mt-14 text-center">
      {
        benifit_list.map((item: any) => (
          <div class="sm:col-6 lg:col-4 mb-10">
            <Image
              class="mx-auto w-24"
              src={item.image}
              width={100}
              height={90}
              alt=""
            />
            <svg
              class="mx-auto h-[90px] w-[100px]"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#FF0066"
                d="M47.1,-61.5C62.2,-53.9,76.5,-41.7,83.1,-25.9C89.6,-10.2,88.6,9.1,82.4,26.4C76.2,43.6,64.9,58.7,50.4,70.5C35.8,82.2,17.9,90.6,0,90.7C-18,90.7,-35.9,82.4,-48.4,70C-61,57.6,-68.1,41,-73.6,23.9C-79.1,6.9,-83,-10.7,-78.6,-26C-74.3,-41.3,-61.6,-54.3,-47.1,-62.1C-32.6,-70,-16.3,-72.7,-0.1,-72.5C16,-72.3,32,-69.2,47.1,-61.5Z"
                transform="translate(100 100)"
              />
            </svg>
            <h3 class="h4 mb-4 mt-8">{item.title}</h3>
            <p>{item.content}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
