---
import { Image } from "@astrojs/image/components";

const {
  features: { title, banner },
} = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div
        class="mb-14 text-center lg:col-6 lg:order-1 lg:mb-0 lg:mt-0 lg:text-left"
      >
        <ul
          class="breadcrumb mb-8 inline-flex h-8 items-center justify-center space-x-2 rounded-3xl bg-theme-light px-4 py-2"
        >
          <li class="leading-none text-dark">
            <a class="inline-flex items-center text-primary" href="/">
              <svg
                class="mr-1.5"
                width="15"
                height="15"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.1769 15.0588H10.3533V9.41178H5.64744V15.0588H2.82391V6.58825H1.88274V16H14.118V6.58825H13.1769V15.0588ZM6.58862 15.0588V10.353H9.41215V15.0588H6.58862ZM15.8084 6.09225L15.2512 6.85178L8.00038 1.52472L0.749559 6.8499L0.192383 6.09131L8.00038 0.357666L15.8084 6.09225Z"
                  fill="black"></path>
              </svg>
              <span class="text-sm leading-none">Home</span>
            </a>
          </li>
          <li class="leading-none text-dark">
            <span class="text-sm leading-none">/ {title}</span>
          </li>
        </ul>
        <h1>
          {banner.title}
        </h1>
        <p class="mt-6">
          {banner.content}
        </p>
        {
          banner.button.enable && (
            <a class="btn btn-primary mt-6" href={banner.button.link}>
              {banner.button.label}
            </a>
          )
        }
      </div>
      <div class="lg:col-6 lg:order-2">
        <Image
          class="mx-auto"
          src="/images/features-banner-img.png"
          width={412}
          height={483}
          alt=""
        />
      </div>
    </div>
  </div>
</section>
