---
import { markdownify } from "@lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          button.enable && (
            <a class="btn btn-white mt-8" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="lg:col-6">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>

  <Image
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[30%]"
    alt="banner"
    src="/images/banner-shape.png"
    width={496}
    height={466}
  />
</section>
