---
import { markdownify } from "@lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const { banner } = Astro.props;
const { title, buttons, image, content } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-7">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {buttons.map((button: any) =>
            button?.enable && (
              <a class={`btn m-3 block sm:inline-block ${button?.outline ? "btn-outline-primary" : "btn-primary"} `}
                href={button?.link} >
                {button?.label}
              </a>
            ))}
      </div>
      <div class="lg:col-5">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>

  <Image
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[30%]"
    alt="banner"
    src="/images/banner-shape.png"
    width={496}
    height={466}
  />
</section>
