---
import { Image } from "astro:assets";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { humanize, markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import type { TIntegrationsIndex } from "@/types";
const integraionsIndex = (await getEntryBySlug<any, string>(
  "integrations",
  "-index",
)) as TIntegrationsIndex;

export async function getStaticPaths() {
  const integrations = await getSinglePage("integrations");
  const paths = integrations.map((post: any) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}
const { post } = Astro.props;

const { Content } = await post.render();
const page_data = {
  ...post.data,
  index_title: integraionsIndex.data.title,
  slug: post.slug,
};
---

<Base
  title={post.data.title}
  meta_title={post.data.meta_title}
  description={post.data.description}
  image={post.data.image}
>
  <Shape />
  <section class="page-hero pb-8 pt-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[883px] text-center">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>
  <section class="section career-single pt-0">
    <div class="container">
      <div class="lg:gx-4 row">
        <div class="mx-auto lg:col-8">
          <div class="lg:py-[60px] rounded-xl bg-white p-7 shadow-lg lg:px-12">
            <div class="mb-8 px-4 text-center">
              <Image
                class="mx-auto"
                src={post.data.image}
                alt=""
                height={80}
                width={80}
              />
              <h1 class="mt-6">{post.data.title}</h1>
              <p class="mt-6" set:html={markdownify(post.data.excerpt)} />
              <a class="btn btn-primary mt-8 px-10" href={post.data.button.link}
                >{humanize(post.data.button.label)}
                {humanize(post.data.name)}</a
              >
            </div>
            <div class="content"><Content /></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
