---
import Logo from "@components/Logo.astro";
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;
---

<footer class="footer bg-[#F1F1F1]">
  <div class="container">
    <div class="gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <Logo />
        <p class="mt-6">
          {footer_description}
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Socials</h6>

        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Quick Links</h6>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                <a class="hover:text-primary hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Location & Contact</h6>
        <ul>
          <li class="mb-2">{location}</li>
          <li class="mb-2">
            <a class="mb-2 hover:text-primary" href={`mailto:${email}`}
              >{email}</a>
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone}`}
              >{phone}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p class="content text-text" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
