---
const { roadmap } = Astro.props;
const { title, description, events } = roadmap;
---

<!-- component -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-6">
        <h2>{title}</h2>
        <p class="mt-4">
          {description}
        </p>
      </div>
    </div>
    <div class="w-full mx-auto">
      <div
        class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16"
      >
        <div class="w-full mx-auto">
          <!-- Vertical Timeline -->
          <div class="-my-6">
            <!-- Items -->
            {
              events.map((item: any, index: number) => (
                <div class="relative pl-8 sm:pl-32 py-6 group">
                  <div class="font-medium text-primary mb-1 sm:mb-0">
                    {item.tag}
                  </div>
                  <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-white bg-palette-navy rounded-full">
                      {item.date}
                    </time>
                    <div class="text-xl font-bold text-slate-900">
                      {item.title}
                    </div>
                  </div>
                  <div class="text-slate-500">{item.description}</div>
                  {item.image && (
                    <div class="mt-4">
                      <img
                        src={item.image}
                        alt=""
                        class="w-full h-[40vh] object-cover rounded-lg"
                      />
                    </div>
                  )}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
