---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import CounterComponent from "@/components/about/CounterComponent.astro";
import Gallery from "@/components/about/Gallery.astro";
import OurMembers from "@/components/about/OurMembers.astro";
import Works from "@/components/about/Works.astro";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "index");
const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <CounterComponent counter={counter} />
      <!-- benifit -->
      <!-- gellary -->
      <Gallery gallery={gallery} />
      <!-- our works -->
      <Works features={features} />
      <!-- our members -->
      <OurMembers members={members} />
    </div>
  </section>
</Base>
