---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container"><PageHeader page_data={page_data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-6 md:order-1 ">
          <form
            class="lg:max-w-[484px] mx-auto"
            action={contact_form_action}
            method="POST"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name">Full Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Your Full Name"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="eamil">Email Adrdess</label>
              <input
                class="form-control"
                type="text"
                id="email"
                placeholder="Your  Email Address"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Message Here</label>
              <textarea
                class="form-control h-[150px]"
                id="message"
                cols="30"
                rows="10"></textarea>
            </div>
            <input
              class="btn btn-primary block w-full"
              type="submit"
              value="Send Message"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
