---
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import IntegrateMedia from "@layouts/function-components/IntegrateMedia";
import Cta from "@layouts/partials/Cta.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { getEntryBySlug } from "astro:content";
const eventsIndex = await getEntryBySlug<any, string>(
  "events",
  "-index"
);
const categories = await getTaxonomy("events", "categories");
const events = await getSinglePage("events");
const page_data = {
  ...eventsIndex.data,
  content: eventsIndex.body,
};
---

<Base
  title={eventsIndex.data.title}
  meta_title={eventsIndex.data.meta_title}
  description={eventsIndex.data.description}
  image={eventsIndex.data.image}
>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>
  <IntegrateMedia
    client:load
    integrations={events}
    categories={categories}
  />
  <Cta />
</Base>
